Structured Array

In [6]:
import numpy as np

arr=np.array(0,1,2,3,4,5,6,7,8,9,10])

newarr=arr.astype('i')
print(newarr)

[ 1  2  3  4  5  6  7  8  9 10]

In [10]:
newarr=arr.astype(bool)
print(newarr)
print(newarr.dtype)

[ True  True  True  True  True  True  True  True  True  True]
bool

In [12]:
dtype=np.dtype([('name','S10'),('age','i4')])

data=np.array([('Tom',25),('Jerry',22)],dtype=dtype)

print(data)

[(b'Tom', 25) (b'Jerry', 22)]

Sorting

In [16]:
sorted_data=np.sort(data,order='age')
print(sorted_data)
min_data=np.min(arr)

[(b'Jerry', 22) (b'Tom', 25)]

Create a structured array for six employees with the fields: name (string), salary(float) and years of experience (integer)

In [17]:
import numpy as np

dtype = np.dtype([('name', 'S10'), ('salary', float), ('years_of_experience', int)])

employees = np.array([('Dave', 50000.0, 2),
                     ('Anjaney', 60000.0, 5),
                     ('Shrey', 70000.0, 3),
                     ('Mohsin', 55000.0, 4),
                     ('Anirban', 65000.0, 6),
                     ('Karan', 75000.0, 1)], dtype=dtype)

sorted_employees = np.sort(employees, order='years_of_experience')
print(sorted_employees)




print(employees)

[(b'Karan', 75000., 1) (b'Dave', 50000., 2) (b'Shrey', 70000., 3)
 (b'Mohsin', 55000., 4) (b'Anjaney', 60000., 5) (b'Anirban', 65000., 6)]
[(b'Dave', 50000., 2) (b'Anjaney', 60000., 5) (b'Shrey', 70000., 3)
 (b'Mohsin', 55000., 4) (b'Anirban', 65000., 6) (b'Karan', 75000., 1)]

Given a structured array with fields product